.about {
  padding-top: 5rem;
}

.about > div:nth-child(1) {
  height: 30vh;
  width: 100vw;

  background-image: url("../public/info.png");
  background-size: cover;

  display: grid;
  place-content: center;
}

.about > div:nth-child(1) > div {
  height: 40vh;
  width: clamp(200px, 40vw, 1000px);

  background-image: url("../public/everest.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.about > div:nth-child(1) > h1 {
  font-size: 100px;
}

.about > h1 {
  padding: 1rem 2rem;

  background-image: var(--third-gradient);

  text-align: center;
}

.about > div:nth-child(3) {
  min-height: 55vh;
  width: clamp(1px, 70vw, 1200px);

  margin: 2rem;
  margin-inline: auto;
  padding: 1rem;

  background-image: var(--third-gradient);

  border-radius: var(--radius);
  box-shadow: var(--main-shadow);
}
