.about {
  padding-top: 5rem;
}

.about > div:nth-child(1) {
  background-image: url("../public/info.png");
  background-size: cover;
  /* background-position: center; */
  height: 30vh;
  width: 100vw;
  display: grid;
  place-content: center;
}

.about > div:nth-child(1) > div {
  background-image: url("../public/everest.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vh;
  width: clamp(200px, 40vw, 1000px);
}

.about > div:nth-child(1) > h1 {
  font-size: 100px;
}

.about > h1 {
  background-color: var(--third);
  text-align: center;
  padding: 1rem 2rem;
}

.about > div:nth-child(3) {
  margin: 2rem;
  padding: 1rem;
  margin-inline: auto;
  width: clamp(1px, 70vw, 1200px);
  background-color: var(--third);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  min-height: 55vh;
}
