.add {
  height: 100vh;

  padding: 1rem;
  padding-top: 6rem;

  background: var(--second);

  text-shadow: none;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  gap: 1rem;
}

.add > div:nth-child(1) {
  grid-row: span 2;

  padding: 1.5rem;

  display: flex;
  gap: 1.5rem;
  flex-direction: column;

  overflow: auto;
}

.add > div {
  background-color: var(--text-main);
  border-radius: var(--radius);
  box-shadow: var(--shadow-second);
}

.add button {
  grid-column: span 2;

  border-color: var(--text-main);
}

.add button:hover {
  /* background: var(--text-main); */
  color: var(--main);
}

.add button:active {
  box-shadow: 0 0 5px var(--main) inset;
}

.add > div:nth-child(2) {
  position: relative;

  min-height: 150px;

  background: url("../public/addimage.png");
  background-color: var(--main);
  background-position: center;
  background-repeat: no-repeat;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 150px);
  place-content: start center;

  overflow: auto;
}

.add input[type="file"] {
  position: absolute;

  height: 100%;
  width: 100%;

  opacity: 0;
}

.add > div:nth-child(2) > div {
  position: relative;

  height: 150px;
  width: 150px;

  border-radius: var(--radius);

  overflow: hidden;
  z-index: 10;
}

.add > div:nth-child(2) > div > div:nth-child(1) {
  position: absolute;

  height: 100%;
  width: 100%;

  background-size: cover;

  border-radius: var(--radius);

  transition: 500ms;
}

.add > div:nth-child(2) > div:hover > div:nth-child(1) {
  transform: translateY(-50%);
}

.add > div:nth-child(2) > div > div:nth-child(2) {
  position: absolute;
  bottom: 0;

  height: 50%;
  width: 100%;

  display: flex;
  flex-direction: column;

  z-index: -1;
}

.add > div:nth-child(2) > div > div:nth-child(2) > button {
  padding: 0.4rem;

  border: 1px solid var(--second);
  box-shadow: none;

  font-size: 15px;
}

@media (max-width: 800px) {
  .add {
    height: auto;

    display: flex;
    flex-direction: column;
  }
  .add > div:nth-child(1) {
    grid-row: span 1;
  }

  .add > div:nth-child(2) {
    min-height: 20rem;
  }

  .add > *:nth-child(3) {
    min-height: 30rem;
  }
}
