.addsub {
  position: relative;

  padding: 1.5rem;

  border: 1px solid var(--third);
  border-radius: var(--radius);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addsub > span {
  position: absolute;
  left: 5%;
  bottom: calc(100% - 10px);

  background-color: var(--main);
  color: var(--third);

  transition: 500ms;
}
