.checkbox {
  background-color: var(--text-main);
  color: var(--text-second);

  padding: 1rem;

  border-radius: var(--radius);
  box-shadow: var(--shadow-main);

  text-align: center;
  text-shadow: none;

  cursor: pointer;

  transition: color 500ms, background-color 500ms;
}

.checkbox.true {
  background-color: var(--text-second);
  color: var(--text-main);
}
