.checkbox {
  background-color: var(--main);
  color: var(--third);

  padding: 1rem;

  border: 1px solid var(--third);
  border-radius: var(--radius);

  text-align: center;
  text-shadow: none;

  cursor: pointer;

  transition: color 500ms, background-color 500ms;
}

.checkbox.true {
  background-color: var(--third);
  color: var(--main);
}
