.contacts {
  min-height: calc(100vh);

  padding-top: 5rem;
}

.contacts > div:nth-child(1) {
  padding: 2rem;

  background-color: var(--third);

  text-align: center;
}

.contacts > div:nth-child(2) > form {
  padding: 1rem 5rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.contacts textarea {
  grid-column: span 2;

  height: 20rem;
}

.contacts button {
  grid-column: span 2;
  place-self: center;

  width: 50%;

  padding: 1rem;

  background-color: var(--main);

  border: 3px solid var(--third);
  border-radius: var(--radius);

  font-size: 20px;
}
