.double {
  position: relative;

  padding: 2px;

  background-color: var(--main);
  color: var(--second);

  border: 1px solid var(--third);
  border-radius: var(--radius);

  text-shadow: none;

  display: grid;
  grid-auto-flow: column;
}

.double > span {
  padding: 1rem;

  background: var(--third);
  color: var(--main);

  border-radius: var(--radius);

  text-align: center;
}

.double > input {
  width: 100%;

  background-color: var(--main);
  color: var(--second);

  border: none;
  border-radius: var(--radius);

  text-align: center;
  outline: none;
}

.double > p {
  font-size: 30px;
  text-shadow: none;

  place-self: center;
}
