.double {
  position: relative;

  padding: 2px;

  background-color: var(--text-main);
  color: var(--text-second);

  border-radius: var(--radius);
  box-shadow: var(--shadow-main);

  text-shadow: none;

  display: grid;
  grid-auto-flow: column;
}

.double > span {
  padding: 1rem;

  background-image: var(--gradient-main-down);
  background-size: 400% 400%;
  background-position: top left;

  color: var(--text-second);

  border-radius: var(--radius);

  text-align: center;

  display: flex;
  place-content: center;
  align-items: center;

  transition: background-position 500ms, color 500ms;
}

.label.full,
.double:focus-within .label {
  background-position: bottom right;
  color: var(--text-main);
}

.input {
  width: 100%;

  border-radius: var(--radius);

  text-align: center;
}

.double > p {
  font-size: 30px;
  text-shadow: none;

  place-self: center;
}
