.feature {
  padding: 0.5rem;

  background-image: var(--third-gradient);

  border-bottom: 1px solid var(--main);
  border-radius: var(--radius);

  display: flex;
  place-items: center start;
  gap: 0.5rem;
}

.feature > div {
  height: 20px;
  width: 20px;

  padding: 1rem;

  background-color: var(--second);

  border: 1px solid var(--main);
  border-radius: 10px;

  display: grid;
  place-content: center;

  text-shadow: none;
  font-family: Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

.feature > div.true {
  background-color: transparent;
}

.feature > p {
  font-size: 0.8rem;
}
