:root {
  --main: white;
  /* --second: #b68f40; */
  --second: #c58b04;
  /* --third: #f7cd2b; */
  --third: #eaae04;
  --third-contrast: #4975dd;
  --forth: #231f20;
  --second-dark: #78392c;

  --background-color: #ffeca8;
  --third-gradient: linear-gradient(to right bottom, #ffc500 0%, #d59900 100%);
  --main-text: #ad1e1e;
  --second-text: #990e0e;

  /* --main-shadow: 7px 7px 7px #ffda7b; */
  --main-shadow: 4px 4px 4px rgba(136, 169, 254, 0.26);

  --radius: 0rem;
  --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  --color-main: #ffbe0e;
  --color-main-dark: #d69c00;

  --color-second: #ffeca8;
  --color-second-dark: #ffe394;

  --shadow-main: 0 0 5px rgba(0, 0, 0, 0.5);
  --shadow-second: 2px 2px 2px rgba(0, 0, 0, 0.5);

  --gradient-main: linear-gradient(to right bottom, #ffbe0e 0%, #d69c00 100%);

  --gradient-main-up: linear-gradient(
    to right bottom,
    var(--color-main) 0%,
    var(--color-main-dark) 25%,
    var(--color-second) 75%,
    var(--color-second-dark) 100%
  );
  --gradient-main-down: linear-gradient(
    to right bottom,
    var(--color-second) 0%,
    var(--color-second-dark) 25%,
    var(--color-main) 75%,
    var(--color-main-dark) 100%
  );
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--main);
  /* text-shadow: 1px 1px 0 var(--forth); */
  font-family: Montserrat;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;

  font-family: Montserrat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

textarea {
  resize: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
}
