.info {
  width: clamp(100px, 80vw, 1200px);

  margin-inline: auto;

  text-align: center;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
  gap: clamp(1px, 2%, 5rem);
}

.info > div {
  position: relative;

  padding: 4rem 1rem;

  background-color: var(--third);
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  place-content: center;

  overflow: hidden;

  transition: 500ms;
}

.info div > h2 {
  grid-column: span 3;

  font-size: 2rem;
}

.info > div > div {
  padding: 0.5rem;

  border-radius: var(--radius);

  cursor: pointer;

  transition: 300ms;
}

.info > div > div:hover {
  background-color: var(--second);
}

.info > div > span {
  height: 50%;
  width: 2px;

  background: var(--main);

  place-self: center;
}

.info > div:hover {
  border-radius: var(--radius);
  box-shadow: var(--shadow), 10px 10px 10px rgba(0, 0, 0, 0.5);

  transform: translate(0px, -10px);
}

.info > div:hover::after {
  opacity: 0;
}

.info h1 {
  position: relative;

  color: var(--main-dark);

  font-size: 6rem;
  text-shadow: 1px 1px 0px var(--forth);

  z-index: 102;
}

.info p {
  position: relative;

  color: var(--main);

  font-size: 1.2rem;
  text-shadow: 1px 1px 0px var(--forth);

  z-index: 102;
}

@media (max-width: 800px) {
  .info {
    width: 100%;

    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .info div {
    padding: 2rem;
  }
  .info h1 {
    font-size: 5rem;
  }
  .info p {
    font-size: 1rem;
  }
}
