.container {
  /* height: 100vh; */
  width: 100%;

  padding-block: 1rem;

  background-image: var(--gradient-main);
}

.infos {
  width: min(1200px, 95%);

  margin-inline: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  place-content: center;
  justify-content: center;
  gap: 1rem;
}

.card {
  background-image: var(--gradient-main-down);
  background-size: 400% 400%;
  background-position: top left;

  padding: 1.5rem 0.5rem;

  border-radius: var(--radius);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5) inset, var(--shadow-second);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 1rem 0.5rem;

  transition: background-position 1s ease-out, box-shadow 500ms;
}

.card:hover {
  background-position: bottom right;
  /* box-shadow: var(--shadow-third), 0px 0px 0px rgba(0, 0, 0, 0.5); */
}

.background {
  background-image: var(--gradient-main-up);
  background-size: 400% 400%;
  background-position: top left;
  color: var(--text-main);

  border-radius: var(--radius);
  box-shadow: var(--shadow-third), 0px 0px 0px rgba(0, 0, 0, 0.5);

  text-align: center;

  transition: background-position 1s ease-out, color 1s ease-out,
    box-shadow 500ms;
}

.card:hover .background {
  background-position: bottom right;
  color: var(--color-main-dark);
}

.background:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5) inset, var(--shadow-second);
}

.title {
  grid-column: span 2;

  height: 50px;

  padding: 0.3rem;

  display: flex;
  place-content: center;
  align-items: center;

  font-size: clamp(25px, 2vw + 0.9rem, 40px);
}

.smaller {
  font-size: clamp(16px, 1vw + 0.5rem, 26px);
}

.info {
  padding: 1rem 0.5rem;

  display: flex;
  flex-direction: column;
  place-content: center;

  cursor: pointer;
}

.info h1 {
  font-size: clamp(68px, 3vw + 2rem, 100px);
}

.info p {
  font-size: clamp(14px, 0.8vw + 0.5rem, 30px);
}
