.input {
  position: relative;
}

.input > span {
  position: absolute;
  left: 5%;
  bottom: 50%;

  padding-inline: 4%;
  padding-top: 1%;

  background-color: var(--main);
  color: var(--third);

  border-top: 1px solid var(--third);
  border-radius: var(--radius) var(--radius) 0 0;

  text-shadow: none;

  transform: translateY(50%);

  transition: 500ms;
}

.input > span.active {
  bottom: calc(100% - 10px);

  transform: translateY(0);
}

.input > input,
.input > textarea {
  width: 100%;

  padding: 1rem;

  color: var(--third);

  border: 1px solid var(--third);
  border-radius: var(--radius);
  outline: none;

  font-size: 15px;
}

.input > textarea {
  height: 18rem;
}
