.submenu > div {
  position: absolute;
  top: 100%;
  left: 50%;

  padding: 1rem;

  background-color: var(--main);
  color: var(--third);

  border-radius: var(--radius);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  transform: translateX(-50%) scaleY(0);
  transform-origin: top;

  transition: 500ms;
}

.submenu:hover > div {
  transform: translateX(-50%) scaleY(1);
}
