.container {
  width: 100%;

  /* padding: 1rem; */
  margin-top: 1rem;
}

.container h1 {
  width: 100%;

  padding-top: 3rem;
  padding-bottom: 5.5rem;

  background-image: var(--gradient-main);
  color: var(--text-main);

  text-shadow: var(--shadow-second);
  text-align: center;
  font-size: clamp(20px, 2.8vw + 1rem, 65px);
}

.form {
  /* height: 8rem; */
  width: min(1200px, 80%);

  margin-top: -3.5rem;
  margin-inline: auto;
  padding: 0.5rem;

  background-image: var(--gradient-main);

  border-radius: var(--radius);
  box-shadow: var(--shadow-second);

  display: grid;
  grid-template-columns: 3fr 1fr;
}

.form input {
  width: 100%;

  padding: 3rem;

  color: var(--text-second);

  border-radius: var(--radius);

  font-size: clamp(15px, 2vw + 0.5rem, 40px);
}

.form button {
  background-color: transparent;
  background: none;
  color: var(--text-main);

  font-size: clamp(10px, 1.2vw + 0.5rem, 30px);
  font-weight: bold;
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
}
