.products {
  padding: 5px;
  padding-left: 0.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 345px);

  overflow: auto;
}

.product {
  position: relative;

  height: 345px;

  padding: 5px;

  color: var(--main);

  border-radius: var(--radius);

  display: grid;
  grid-template-rows: 1fr auto;
  gap: 0.5rem;

  cursor: pointer;
}

.inner {
  color: var(--main);
  background-image: var(--gradient-main-up);
  background-size: 400% 400%;
  background-position: top left;

  box-shadow: var(--shadow-second);

  transition: background-position 700ms, color 700ms;
}

.product.active .inner {
  color: var(--color-main-dark);

  background-position: bottom right;
}

.titlewrap {
  border-radius: var(--radius);
  box-shadow: var(--shadow-second);

  overflow: hidden;
}

.title {
  height: 50%;

  padding: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.title h1 {
  grid-column: span 2;

  font-size: 18px;
  text-align: center;
}

.title h2 {
  grid-column: span 2;

  font-size: 15px;
  text-align: center;
}

.title p {
  display: flex;
  align-items: center;
  gap: 2px;
}

.title p:nth-child(odd) {
  padding-left: 1rem;
  text-align: start;
}

.title p:nth-child(even) {
  padding-right: 1rem;
  text-align: end;
  justify-content: flex-end;
}

.done {
  position: absolute;
  top: 0rem;
  left: 0rem;

  padding: 0.5rem 4rem;

  background-color: rgba(255, 0, 0, 0.8);
  color: var(--main);

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  transform: rotate(-45deg) translate(-28%, -75%);
}

.info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5rem;
}

.price {
  border-radius: var(--radius);

  display: flex;
  place-content: center;
  align-items: center;
}

.more {
  padding: 0.5rem;

  border-radius: var(--radius);

  text-align: center;

  display: flex;
  place-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .products {
    grid-row: 2;
    padding: 0.5rem;
  }
}
