.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: repeat(auto-fill, 345px);
  padding: 5px;
  padding-left: 0.5rem;
  gap: 10px;
  overflow: auto;
}

.products > div {
  color: var(--product-color);
  background-color: var(--main);
  position: relative;
  border-radius: var(--radius);
  height: 345px;
  /* max-width: 345px; */
  overflow: hidden;
  cursor: pointer;
  box-shadow: var(--shadow);
  /* display: grid; */
  /* grid-template-rows: auto 50% auto auto auto; */

  /* display: flex; */ /* flex-direction: column; */

  transition: 700ms;
}

.products > div > div:nth-child(2) {
  padding: 0.5rem;
  display: grid;
  height: 50%;
  text-shadow: none;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  font-size: 15px;
  column-gap: 0.5rem;
}

.products h3 {
  font-size: 20px;
  grid-column: span 2;
  text-align: center;
}

.products h5 {
  grid-column: span 2;
  text-align: center;
}

.products h4 {
  background: var(--second);
  transition: 500ms;
  padding: 0.5rem;
  font-size: 12px;

  color: var(--main);
  text-align: center;
  border: 1px solid var(--main);
  /* box-shadow: 0 0 5px var(--forth) inset; */
  border-radius: var(--radius);

  display: grid;
  place-content: center;
}

.products p {
  display: flex;
  align-items: center;
  gap: 2px;
}

.products p:nth-child(odd) {
  text-align: start;
  padding-left: 1rem;
}

.products p:nth-child(even) {
  text-align: end;
  justify-content: flex-end;
  padding-right: 1rem;
}

.done {
  position: absolute;
  background: rgba(255, 0, 0, 0.8);
  top: 0rem;
  left: 0rem;
  color: var(--main);
  padding: 0.5rem 4rem;
  transform: rotate(-45deg) translate(-28%, -75%);

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.price {
  text-align: center;
  /* background: var(--main); */
  /* box-shadow: 0 0 5px var(--forth) inset; */
  display: flex;
  color: var(--third);
  /* overflow: hidden; */
  /* grid-column: span 2; */
  /* padding: 0.5rem; */
  transition: 500ms;
}

.price > span {
  display: grid;
  place-content: center;
  padding: 0.5rem;
  border-radius: var(--radius);
  transition: 500ms;
}

.price > span:nth-child(1) {
  background-color: var(--third);
  border: 1px solid transparent;
  color: var(--main);
  /* box-shadow: 0 0 0 1px var(--main); */
  z-index: 100;
}

.price > span:nth-child(2) {
  background-color: var(--main);
  border: 1px solid var(--third);
  /* box-shadow: 0 0 0 1px var(--third); */
  padding-left: 3rem;
  margin-left: -2.5rem;
}

@media (max-width: 800px) {
  .products {
    /* grid-template-columns: 1fr; */
    padding: 0.5rem;
    grid-row: 2;
  }
}
