.products {
  padding: 5px;
  padding-left: 0.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 345px);
  gap: 10px;

  overflow: auto;
}

.products > div {
  position: relative;

  height: 345px;

  /* background-color: var(--main); */
  /* color: var(--product-color); */
  color: var(--main);

  border-radius: var(--radius);
  box-shadow: var(--main-shadow);

  overflow: hidden;
  cursor: pointer;

  transition: 700ms;
}

.products > div > div:nth-child(2) {
  height: 50%;

  padding: 0.5rem;

  background-image: var(--third-gradient);

  font-size: 15px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  column-gap: 1rem;
}

.products h3 {
  grid-column: span 2;

  font-size: 20px;
  text-align: center;
}

.products h5 {
  grid-column: span 2;
  text-align: center;
}

.products h4 {
  padding: 0.5rem;

  /* background-image: var(--third-gradient); */
  background: linear-gradient(100deg, #ffeca8 0%, #ffd646 100%);
  background-size: 110%;
  background-position: left;
  color: #6f2f26;

  /* border: 1px solid var(--main-text); */
  border-radius: var(--radius);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* font-size: 12px; */
  text-align: center;
  text-shadow: none;

  display: grid;
  place-content: center;

  transition: 500ms;
}

.products h4:hover {
  background-position: right;
}

.products p {
  display: flex;
  align-items: center;
  gap: 2px;
}

.products p:nth-child(odd) {
  padding-left: 1rem;
  text-align: start;
}

.products p:nth-child(even) {
  padding-right: 1rem;
  text-align: end;
  justify-content: flex-end;
}

.done {
  position: absolute;
  top: 0rem;
  left: 0rem;

  padding: 0.5rem 4rem;

  background-color: rgba(255, 0, 0, 0.8);
  color: var(--main);

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  transform: rotate(-45deg) translate(-28%, -75%);
}

.price {
  /* color: var(--third); */
  /* width: 210px; */

  /* padding: 0.5rem; */

  color: #6f2f26;
  background: linear-gradient(92.33deg, #ffeca8 0%, #ffd646 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--radius);

  text-align: center;
  text-shadow: none;

  display: flex;
  place-content: center;
  align-items: center;
  transition: 500ms;
}

.price > span {
  padding: 0.5rem;

  display: grid;
  place-content: center;
  border-radius: var(--radius);

  transition: 500ms;
}

.price > span:nth-child(1) {
  /* background-image: var(--third-gradient); */
  /* color: var(--main); */

  /* border: 1px solid transparent; */

  z-index: 100;
}

.price > span:nth-child(2) {
  margin-left: -2.5rem;
  padding-left: 3rem;

  /* background-color: var(--main); */

  border: 1px solid var(--third);
}

@media (max-width: 800px) {
  .products {
    grid-row: 2;
    padding: 0.5rem;
  }
}
