.social {
  width: min(1200px, 80%);

  margin-block: 4rem;
  margin-inline: auto;
  padding: 3rem;

  background-image: var(--gradient-main);

  border-radius: var(--radius);
  box-shadow: var(--shadow-second);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  place-items: center;
}

.social > * {
  color: var(--text-main);

  border-radius: var(--radius);

  font-size: 150px;

  cursor: pointer;

  filter: drop-shadow(1px 1px 0rem rgba(0, 0, 0, 0.5));

  transition: 500ms;
}

.social > *:not(h1):hover {
  transform: translate(0px, -5px);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.social h1 {
  grid-column: span 3;

  width: 100%;

  font-size: 35px;
  font-style: italic;
  text-align: center;

  cursor: default;
}

@media (max-width: 800px) {
  .social {
    width: 100%;

    padding: 2rem;

    border-radius: 0;
    box-shadow: none;
  }

  .social > * {
    font-size: 80px;
  }

  .social h1 {
    font-size: 20px;
  }
}
