.subscribe {
  margin-top: 4rem;
  text-align: center;
}

.subscribe h1 {
  padding: 2rem;
  padding-bottom: 6rem;

  background-color: var(--third);
  color: var(--main);

  font-size: 50px;
}

.subscribe > form {
  width: clamp(800px, 70vw, 1200px);

  margin-top: -4rem;
  margin-inline: auto;
  padding: 0.5rem;

  background-color: var(--third);

  border-radius: var(--radius);
  box-shadow: var(--shadow);

  display: grid;
  grid-template-columns: 3fr 1fr;

  overflow: hidden;

  transition: 500ms;
}

.subscribe input {
  width: 100%;

  padding: 3rem;

  background-color: var(--main);
  color: var(--third);

  border: none;
  border-radius: var(--radius);

  font-size: 30px;
}

.subscribe input::selection {
  background-color: var(--third);
  color: var(--main);
}

.subscribe button {
  background-color: transparent;
  color: var(--main);

  border: none;
  border-radius: 0 var(--radius) var(--radius) 0;

  font-size: 35px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  cursor: pointer;

  transition: 500ms;
}

.subscribe button:hover {
  color: var(--main);
  letter-spacing: 3px;
}

.subscribe input:focus {
  outline: none;
}

@media (max-width: 800px) {
  .subscribe input {
    padding: 2rem;
    font-size: 20px;
  }
  .subscribe h1 {
    font-size: 30px;
  }
  .subscribe form {
    width: 90%;
    grid-template-columns: none;
  }
  .subscribe button {
    padding: 1rem;
    font-size: 25px;
  }
}
